body{
    font-family: Montserrat, 'Courier New', Courier, monospace;
}
.container{
    padding: auto;
    margin:auto;
    width: 1000px;
}

.nav{
    display:flex;
    justify-content: center;
    flex-direction: column;
}
img{
    align-self: center;
    width: 10vw;
}
h2{
    width: 50vw;
    color:#DB5752;
    padding: 10px;
    border-bottom: 2px solid #FAFA88;
    
}

p{
    color: blue;
    font-size: 18px;

}

